@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin:0 auto;
}
header{
    margin-top: 62px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
}
ul li a{
    text-decoration: none;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    color: #1F1534;
    opacity: 0.5;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}
.row .col-6 h1{
    font-family: Mulish;
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    width: 421.213px;
    margin-top: 93px;
}
.col-6 p{
    font-family: Mulish;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    color: #7D7987;
    width: 440px;
    margin-top: 30px;
}
.col-6 button{
    font-family: Mulish;
font-size: 17px;
font-weight: 700;
line-height: 21.34px;
text-align: left;
border: none;
    margin-top: 40px;
    border-radius: 55px;
    background-color: #458FF6;
    color: white;
    padding: 16px 37px ;
    width: 197.753px;
}
ul li a:hover{
    opacity: 1;
}.col-6 button:active{
    opacity: 0.5;
}